<div>
    <h1 class="title-nfasis"><span class="underline">Contac</span> Us</h1>
    <div class="row">
        <div class="col contact">

            <mat-form-field appearance="fill">
                <input matInput placeholder="Full Name">
                <mat-icon matSuffix>business</mat-icon>
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <input matInput placeholder="Phone Number">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-hint>Include area code</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <input matInput placeholder="Email Address">
                <mat-icon matSuffix>email</mat-icon>
                <mat-hint></mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
                    <textarea matInput placeholder="Message" rows="8"></textarea>
            </mat-form-field>

            <button mat-raised-button color="primary">Send</button>

        </div>
        <div class="col">
            <div>
                <mat-card>
                    <mat-list>
                        <mat-list-item>
                            <strong>
                                <mdc-icon inline="true">call</mdc-icon>&nbsp; Phone
                            </strong>&nbsp; 1 355-458-8952
                            <!-- <mdc-list-divider></mdc-list-divider> -->
                        </mat-list-item>
                        <mat-list-item>
                            <strong>
                                <mdc-icon inline="true">alternate_email</mdc-icon>&nbsp; E-mail
                            </strong> &nbsp; sales@uplaymate.com, contact@uplaymate.com
                            <!-- <mdc-list-divider></mdc-list-divider> -->
                        </mat-list-item>
                        <mat-list-item>
                            <strong>
                                <mdc-icon inline="true">business</mdc-icon>&nbsp; Address
                            </strong> &nbsp; Punta Cana
                            <!-- <mdc-list-divider></mdc-list-divider> -->
                        </mat-list-item>
                    </mat-list>
                </mat-card>

            </div>
        </div>
    </div>
</div>