// #Angular Material 2
@import '~@angular/material/theming';
@import "./material-palette.scss";

@include mat-core();

.pe-dark-theme{
    $pe-dark-primary: mat-palette($mat-orange);
    $pe-dark-accent:  mat-palette($mat-deep-orange, A200, A100, A400);
    $pe-dark-warn:    mat-palette($mat-deep-orange);
    $pe-dark-theme:   mat-dark-theme($pe-dark-primary, $pe-dark-accent, $pe-dark-warn);
    @include angular-material-theme($pe-dark-theme);
}

// custom material
.mat-form-field-infix {
    width: 100%!important;
}
//card
// #242222
//#282323 
//#3f3838
