<h5>Login</h5>
<mat-form-field appearance="fill">
    <input matInput placeholder="Username">
    <mat-icon matSuffix fontSet="fa" fontIcon="fa-at"></mat-icon>
    <mat-hint></mat-hint>
</mat-form-field>

<mat-form-field appearance="fill">
    <input matInput placeholder="Password">
    <mat-icon matSuffix fontSet="fa" fontIcon="fa-key"></mat-icon>
    <mat-hint>Must be at least 6 characters</mat-hint>
</mat-form-field>
<br />
<a routerLink="['/']">You don't have an account register here</a>
<br />
<a routerLink="['/']">Forgot your password</a>
