<h1 class="title-nfasis"><span class="underline">Book</span>ing</h1>
<div class="row">
    <!-- <div class="col-3">
        <app-booking-widget class="position-sticky"></app-booking-widget>
    </div> -->
    <div class="col-12">
        <!-- <div class="col-9"> -->
        <ng-container *ngFor="let package of packages">
            <!-- {{package.name}} -->
            <app-book-card-package class="{{package.accommodation.type+package.type}}" [package]="package" [expanded]="shouldExpand(package.accommodation, package.type)" [params]="params"></app-book-card-package>
            <ng-container *ngFor="let rPackage of package.relatedpackage?.packages">
                <ng-container *ngIf="doNotShowTheSamePkg(rPackage.id, package.id)">
                    <app-book-card-package class="{{rPackage.accommodation.type+rPackage.type}}" [package]="rPackage" [expanded]="shouldExpand(rPackage.accommodation, rPackage.type)" [params]="params"></app-book-card-package>
                </ng-container>
            </ng-container>
        </ng-container>
    </div>
</div>