<h1 class="title-nfasis"><span class="underline">Book</span>ing</h1>
<div class="row">
    <!-- <div class="col-3">
        <app-booking-widget class="position-sticky"></app-booking-widget>
    </div> -->
    <div class="col-12">
        <!-- <div class="col-9"> -->
        <ng-container *ngFor="let package of packages">
            <app-book-card-package [package]="package" [expanded]="shouldExpand(package.accommodation)" [params]="params"></app-book-card-package>

        </ng-container>
        <ng-container *ngFor="let package of packages">
            <ng-container *ngFor="let rPackage of package.relatedPackages?.packages">
                <!-- [expanded]="shouldExpand(rPackage.accommodation)" -->
                <app-book-card-package [package]="rPackage" [params]="params"></app-book-card-package>
            </ng-container>

        </ng-container>
    </div>
</div>