<div class="booking-widget">
    <mdb-card>
        <div class="content">
            <select class="mdb-select md-form mb-4 initialized" id="select">
                <option value="" disabled selected>Nights</option>
                <option value="1">Option 1</option>
                <option value="2">Option 2</option>
                <option value="3">Option 3</option>
            </select>
            <div class="md-form">
                <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
                <label for="date-picker-example">Check In</label>
            </div>

            <div class="md-form">
                    <input placeholder="Selected date" type="text" id="date-picker-example" class="form-control datepicker">
                    <label for="date-picker-example">Check out</label>
            </div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam necessitatibus deleniti adipisci incidunt libero nobis ab dolores eligendi ea magnam architecto, omnis eveniet a enim facere blanditiis unde? Quia, impedit?
        </div>
    </mdb-card>
</div>