.wizard{
    min-height: 60vh;
    height: 100%;
    z-index: 200000!important;
    position: relative;
    .package,
    app-book-card-package{
        width: 75%;
    }
}

.err{
    color: red;
}


.card {
    margin: auto;
}

.wizard-content{
    margin-top: 10px;
}

.step-actions{
    position: absolute;
    bottom: -6.277%;
    right: 0;
}