<mat-horizontal-stepper [linear]="isLinear" #stepper class="wizard">
    <mat-step [stepControl]="firstFormGroup">

        <form [formGroup]="firstFormGroup">
            <!-- title tab -->
            <ng-template matStepLabel>Fill Your Dates</ng-template>
            <div class="wizard-content">
                <div class="row">
                    <div class="col-2">
                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>Check In</mat-label>
                            <!-- openedStream -->
                            <!-- 3 days in advance -->
                            <input matInput [matDatepicker]="picker1" formControlName="chin"
                                [max]="params.chon">
                                <!-- max here cab be define by the amount of the select -->
                            <mat-datepicker-toggle matSuffix [for]="picker1" matTooltip="Book with 3 days in advance">
                            </mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-2">
                        <mat-form-field color="accent" appearance="fill">
                            <mat-label>Check out</mat-label>
                            <input matInput [matDatepicker]="picker2" formControlName="chon"
                                [min]="params.chin">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2 color="primary"></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="err"> {{dateMessage}}</div>

                <h6 class="title-nfasis"><span class="underline">Choosen Package</span></h6>
                <app-book-card-package [package]="data.package" [expanded]="true" class="package" [normalState]="true">
                </app-book-card-package>

                <div class="step-actions">
                    <button mat-button matStepperNext>Next</button>
                </div>
            </div>
        </form>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup" [optional]="true" label="Step 1" state="phone">

        <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Fill out your Card Info</ng-template>
            <app-model-list-widget></app-model-list-widget>
            <!-- <mat-form-field>
                <input matInput placeholder="Address" formControlName="secondCtrl" required>
            </mat-form-field> -->
            <div>
                <img src="/assets/cards.gif" class="card" />
            </div>
            <div class="step-actions">
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>

    </mat-step>

    <!-- <mat-step>

        <ng-template matStepLabel>Done</ng-template>
        You are now done.
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step> -->

    <ng-template matStepperIcon="phone">
        <mat-icon>call_end</mat-icon>
    </ng-template>
</mat-horizontal-stepper>