@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.slider{
    $slider-height: 400px;
    background: #9999;
    position: relative;
    height: $slider-height;
    .logo {
        color: $logo-color-3
    }
    .row, .container { // replace with a slider-content row-slider
        height: 100%;
    }
    .carousel { 
        height: $slider-height;
        overflow: hidden;
    }
    mdb-carousel-item{
        height: $slider-height;
    }
    .view{
        height: $slider-height;
    }
    .slide-image{
        height: 100%;
        background-size: cover;
        background-position: center;
    }
    /*/deep/*/ .carousel-indicators{
        z-index: 1000;
        .ng-star-inserted{
            background: orange;
        }

    }
    app-booking-widget{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1000;
        @include media-breakpoint-up(md){
            top: 0;
            left: 3%;
            margin: 0;
            
        }
    }
    .carousel-control-next,
    .carousel-control-prev{
        opacity: 1;
    }
    .carousel-control-next-icon,
    .carousel-control-prev-icon {
        background-color: orange;
        height: 50px;
        width: 50px;
        opacity: 1;
        border-radius: 100%;
    }
}

