<h1 class="title-nfasis"><span class="underline">Mod</span>els</h1>
<div class="row">
    <div class="col-8">
        <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class=""></ngx-gallery>
        <div class="desc">
            <h3 class="title-nfasis">
                <span class="underline">Abo</span>ut
            </h3>
            <p>{{ this.modelData.description }}</p>
        </div>
    </div>
    <div class="col-4">
        <mat-card>
            <ng-container *ngFor="let item of this.model.myList">
                <mat-list>
                    <mat-list-item><strong>{{item.name}}:</strong> &nbsp; {{item.value}} </mat-list-item>
                </mat-list>
            </ng-container>
            <button mat-flat-button color="primary" class="reserve-botom">Reservation</button>
        </mat-card>
    </div>
</div>

<div class="row">
    <div class="col-8">
        <mat-button color="primary">
            Choose this girl now!
        </mat-button>
    </div>
</div>