@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "styles/variables.scss";
@import "node_modules/bootstrap/scss/bootstrap.scss";
/* You can add global styles to this file, and also import other style files */
@import "styles/mdc-material.scss";
@import "styles/material.scss";
// #General Styles
body{
    // background-color: #eaeaea;
    background-color: #211f23;
    // linear-gradient(90deg, #fdf3b6 0%, #f9bc48 35%, #f67207 100%)
}


.title-nfasis{
    margin-bottom: 1.5rem!important;
    .underline{
        position: relative;
        &:before{
            content: "";
            display: block;
            height: 4px;
            background-color: orange;
            position: absolute;
            bottom: -10px;
            width: 100%;
            left: 2px;
        }
    }
}

strong{
    color: #aa7a00;
}

// move this
.carousel-indicators{
    z-index: 1002;
    // .ng-star-inserted{
    //     background: orange;
    // }

}
.carousel-control-next,
.carousel-control-prev{
    opacity: 1;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: orange;
    height: 50px;
    width: 50px;
    opacity: 1;
    border-radius: 100%;
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}
// for normal text 
// #818181;

// titles
// #fff

// peqenos tonos del primario alrededor d ela pagina para enfasis mamey