<app-top-bar></app-top-bar>
<app-silder></app-silder>
<!-- mat-typography -->
<div class="page-content">
  <div class="page-container">
    <div class="page-col left-col">
        <div #spacer></div>
        <!-- <app-contact-widget stickyThing [spacer]="spacer" marginTop="90"></app-contact-widget> -->
    </div>
    <div class="container page-col page-main-col mat-card">
      <router-outlet></router-outlet>
    </div>
    <div class="page-col right-col">
      <div #spacer2></div>
      <!-- <app-newsletter-widget stickyThing [spacer]="spacer2" marginTop="90"></app-newsletter-widget> -->
    </div>
  </div>
</div>
<app-footer></app-footer>