@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.page-content{
    border-top: 5px solid orange;
    .page-container{
        display: flex;
        align-items: stretch;
        overflow: auto;
        .page-col{
            // display: flex;
            flex-grow: 1;
            // flex-shrink: 1;
            // background-color: white;
        }
        .left-col,
        .right-col{
            // TODO: make the contact float on mobile in the bottom
            display: none;
            // background: #181719;
            background: #211f23;
            // #222023
            // overflow: hidden;
            @include media-breakpoint-up(lg){
                display: block;
            }
            // app-contact-widget{
            //     left: 2vw;
            // }
            // app-newsletter-widget {
            //     right: -82vw;
            // }
            .side{
                height: 250px;
                width: 100%;
                display: block;
                // width: 300px;
                // top: 500px;
                // position: -webkit-sticky;
                // position: sticky;
            }
        }
        .page-main-col{
            // border-top: 5px solid orange;
            background: #16171D;
        }
        mdb-card{
            width: 280px;
        }
   }
}
