@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../styles/variables";
@import "../../../styles/mixins";

.page-content{
    .page-container{
        display: flex;
        align-items: stretch;
        overflow: auto;
        .page-col{
            display: flex;
            flex-grow: 1;
            background-color: white;
        }
        .left-col,
        .right-col{
            app-contact-widget{
                left: 2vw;
            }
            app-newsletter-widget {
                right: -82vw;
            }
            .side{
                top: 500px;
                position: fixed;
            }
        }
        .page-main-col{
            background: white;
        }
        mdb-card{
            width: 280px;
        }
   }
}
