<div class="row justify-content-center">
  <div class="col-8 text-center">
    <p *ngIf="auth.isAuthorizedUser">Welcome back, {{auth.getUser()?.username}}</p>
    <h1 class="title-nfasis"><span class="underline">Why</span> Choose Us</h1>
    <p>Your confidence in our ability to assist you with a "dream come true" experience will be rewarded with
      exceptional
      communication, direction, courtesy, and <strong>DISCRETION</strong>. We will provide you with professional advice and coordination
      to
      assure you the most pleasant experience in your trip planning to our exotic island.</p>
  </div>
  <!-- <div class="col-4"></div> -->
</div>
<app-model-list-widget [models]="models"></app-model-list-widget>
<button mat-raised-button color="primary" [routerLink]="'/gallery'" class="show-models">Show all uplaymates</button>